.container {
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 4em;
  text-align: center;
}

table {
  margin: auto;
  margin-bottom: 2em;
}

td {
  width: 100px;
  height: 100px;
}

.vertical {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.horizontal {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.status {
  border: 1px black solid;
  padding: 4% 8%;
  margin-top: 1.5em;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  font-size: 2em;
  text-transform: uppercase;
}

.active {
  color: rgb(255, 217, 0);
}

[class*='tie'] {
  color: blue;
}

[class*='win'] {
  color: green
}

.reset {
  margin: auto;
  padding: 2% 4%;
  font-size: 2em;
  width: 100%;
  display: block;
  background-color: red;
  border: 1px solid black;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
  .container {
    width: 50%;
  }
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .container {
    width: 30%;
  }
}